@import 'tailwindcss';

@layer base {
  :root {
    font-family: 'Roboto', sans-serif;
  }
}

@theme {
  --color-light-green: #dae2b6;
  --color-bold-green: #606c5d;
  --color-yellow: #ffe17b;
  --color-light-beige: #fff9f9;
  --color-light2-beige: #fffcfc;
  --color-medium-beige: #f4ead5;
  --color-light-grey: #dbdbdb;
  --color-bold-grey: #363636;
  --color-fav-red: #d63232;
}
