@import 'tailwindcss';

@layer base {
  :root {
    font-family: 'Roboto', sans-serif;
  }
}

@theme {
  --color-light-green: #dae2b6;
  --color-bold-green: #606c5d;
  --color-yellow: #ffe17b;
  --color-light-beige: #fff9f9;
  --color-light-grey: #dbdbdb;
}
